<% # メインメニューの見出し %>
<h1>メインメニュー</h1>

<% # logged_in?メソッドを使ってログイン状態よって異なるメッセージを表示 %>
<% if logged_in? %>
  <p>ようこそ、<strong><%= current_user.name %></strong>さん！ </p>
  <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete } %>
<% else %>
  <p>ログインしていません。</p>
  <%= link_to "新規登録", signup_path %> |
  <%= link_to "ログイン", login_path %>
<% end %>

<ul>
  <li><%= link_to "問題出題", "#" %></li>
  <li><%= link_to "単語検索・登録・削除・修正", "#" %></li>
  <li><%= link_to "ランキング", "#" %></li>
</ul>